@import "tailwindcss";

/* 커스텀 input 스타일 */
.input {
  @apply w-full h-11 px-4 text-sm text-gray-700 font-normal bg-gray-50 rounded-lg border border-gray-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
.input[type="date"]::-webkit-calendar-picker-indicator {
  filter: grayscale(1) brightness(0.6); /* 아이콘 톤 맞춤 */
}

/* 버튼 hover 시, 마우스 포인터 손가락 모양 설정 */
button:hover {
  cursor: pointer;
}



/* 애니메이션 */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}